@import "./variables";
@import "./helperClass";
@import "./base";






.light{
  background-color: #415D92;
  background-color: #8A8D93;
  background-color: #fff;
  background-color: #56CA00;
  background-color: #16B1FF;
  background-color: #FFB400;
  background-color: #FF4C51;
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  background-color: #DEDEDE;
  background-color: #3A3541;
  background-color: #DADADA;
  background-color: #3A3541;
  background-color: #FAFAFA;
  background-color: #F5F5F5;
  background-color: #EEEEEE;
  background-color: #E0E0E0;
  background-color: #BDBDBD;
  background-color: #9E9E9E;
  background-color: #757575;
  background-color: #616161;
  background-color: #424242;
  background-color: #E0E0E0;
}
